/*
* Generic Gradient https://mycolor.space/?hex=%23234722&sub=1
*/
$background-dark-green-gradient-first: #234722;
$background-dark-green-gradient-second: #436932;
$background-dark-green-gradient-third: #698c42;
$background-dark-green-gradient-forth: #93b051;
$background-dark-green-gradient-fifth: #c4d461;
$background-dark-green-gradient-sixth: #f9f871;
$foreground-dark: #dbdbdb;





