@import "@/styles/variables";
@import "@/styles/mixins";


// :root {
//   --c1: #234722;
//   --c2: #436932;
//   --c3: #698c42;
//   --c4: #93b051;
//   //--c5: #c4d461;
//   //--c6: #f9f871;
//   --c0: #dbdbdb;
// }

/*
* Browser Colours
*/
@media (prefers-color-scheme: dark) {
  :root {
    //https://colorhunt.co/palette/0926351b42425c83749ec8b9
    --c1: #092635;
    --c2: #1B4242;
    --c3: #5C8374;
    --c4: #9EC8B9;
    //--c5: #c4d461;
    //--c6: #f9f871;
    --c0: #dbdbdb;
  }

}

@media (prefers-color-scheme: light) {
  :root {
    //https://colorhunt.co/palette/ddffbbc7e9b0b3c99ca4bc92
    // --c1: #DDFFBB;
    // --c2: #C7E9B0;
    // --c3: #B3C99C;
    // --c4: #A4BC92;

    //https://colorhunt.co/palette/e1f0dad4e7c5bfd8af99bc85
    --c1: #E1F0DA;
    --c2: #D4E7C5;
    --c3: #BFD8AF;
    --c4: #99BC85;

    //--c5: #c4d461;
    //--c6: #f9f871;
    --c0: #222222;

  }
}

/*
* Client Colour
*/
:root[data-set-theme="dark"] {
  --c1: #092635;
  --c2: #1B4242;
  --c3: #5C8374;
  --c4: #9EC8B9;
  --c0: #dbdbdb;
}

:root[data-set-theme="light"] {
  --c1: #E1F0DA;
  --c2: #D4E7C5;
  --c3: #BFD8AF;
  --c4: #99BC85;
  --c0: #222222;
  .dialogue{
    background-color: #222222;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
}

*::selection {
  color: var(--c3);
  background-color: var(--c0);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--c1);
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
} */

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

input[type=text],
input[type=text]:hover,
input[type=text]:focus-visible {
  border: 0;
  outline: none;
  width: 10rem;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--c0);
}

h1 {
  font-size: 2rem;
}

.dialogue {
  background-color: var(--c4);
  border-radius: 0.25rem;
  padding: 1rem;
}

.visual_hidden{
  visibility:hidden;
}
