@import "@/styles/variables";
@import "@/styles/mixins";

$search-bar-border-radius: 0.2rem;


.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 3rem 6rem;
  margin-bottom: 3rem;

  h1 {
    font-weight: 400;
  }

  .select_language {
    ul {
      li {
        margin: 0.25rem;

        a {


          font-size: 1.5rem;
          color: var(--c1);
          border-bottom: 1px solid #FFFFFF00;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          svg {
            opacity: 0;
            height: 1.5rem;
            margin-left: 1rem;
            stroke: var(--c1);
            fill: var(--c1);
          }

          &:hover {
            border-bottom: 1px solid var(--c1);

            svg {
              opacity: 1;
            }

          }

        }

      }
    }
  }

  .theme_button {
    position: absolute;
    bottom: 2rem;
    right: 2rem;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      width: 3rem;
      height: 3rem;
      border: none;
      border-radius: 50%;

      &:hover {
        background-color: var(--c4);
        cursor: pointer;
      }

      svg {
        width: 2rem;
        height: 2rem;
        fill: var(--c0);
      }
    }


  }

}



@media (max-width: 768px) {
  .main {
    padding: 2rem;

    h1 {
      font-size: 1rem;
      font-weight: 400;
    }

    .select_language {
      ul {
        li {
          margin: 0.125rem;

          a {
            font-size: 0.75rem;

            svg {
              height: 0.75rem;
              margin-left: 0.75rem;
            }
          }

        }
      }
    }

    .theme_button {
      bottom: 1rem;
      right: 1rem;
      button {      
        width: 1.5rem;
        height: 1.5rem;
        svg {
          width: 1rem;
          height: 1rem;
        }
      }
  
  
    }
  }

}